/To_Practices/Practica_01_python.docx
/To_Practices/Practica_2_python.docx
/To_Practices/Presentacion - Edwin A Roman.docx
/To_Practices/Practice_I/Presentacion - Edwin A Roman.docx
/To_Practices/Practice_I/Presentacion - Edwin A Roman.pdf
/To_Practices/Practice_II/Practica II - Edwin A Roman.docx
/To_Practices/Practice_II/Practica II - Edwin A Roman.pdf
/To_Practices/Practice III - Estructuras Repetitivas/S4_Python.docx
/.idea
