/To_Practices/Practica_01_python.docx
/To_Practices/Presentacion - Edwin A Roman.docx
/To_Practices/Practice_I/Presentacion - Edwin A Roman.docx
/To_Practices/Practice_I/Presentacion - Edwin A Roman.pdf
